<!DOCTYPE html>
<html>

<head>



    <title>Ödev Görüntüle - Çetele</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.png') }}">
    <script data-ad-client="ca-pub-8847110458960604" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" rel="stylesheet" />




</head>

<body class="align-middle">
    <button class="fas fa-chevron-circle-left fa-2x" onclick="window.history.back()"
        style="color:red;background:none;border:0px"></button>
    <div class="container">
        <h4>Ödev Görüntüle:</h4>
        <br>
        <div class="col-md-7" style="margin-left:10px">
            <h2>{{homeworkTitle}}</h2>


            <p>Gönderen: <span>{{senderTeacher}}</span></p>
            <p>Gönderilme Zamanı : <span>{{sendingTime}}</span></p>
            <p>Açıklama : <span>{{descHomework}}</span></p>
            {% if filebool == True %}
            <p>Atanan Dosya : <a style="color:white;font-family:'Courier New', Courier, monospace" href="{{fileAdress}}">İndirmek için tıklayın.</a> </p>
            {% else %}
            <p>Atanan Dosya: Yok.</p>
            {% endif %}
        </div>




    </div>





    <style type="text/css">
        .someinfo {

            top: 40%;
            text-align: center;
        }
    </style>
    <script>
        function circleit(movement) {
            if (movement == "second") {
                document.getElementById("play").className = "far fa-play"
            }
            if (movement == "first") {
                document.getElementById("play").className = "far fa-play-circle"
            }



        }

    </script>
    <style>
        body {
            background: #0390fc;
            color: white;
        }

        #btn-it:focus {
            outline: none;
        }

        #btn-it {
            outline: none
        }
    </style>
</body>
<script data-ad-client="ca-pub-8847110458960604" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</html>