<!DOCTYPE html>
<html>
<head>
	<title>Çetele - Servis Hatası!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
	<h2>ÇE</h2>
	<h2>TE</h2>
    <h2>LE</h2>
    <center>
        <h1  id="404" class="fixed-top">500 ,Bizden Kaynaklı bir sorun.</h1>
        <br><p>Yardımcı Tuşlar:</p>
        <button class="btn btn-dark" onclick="window.location.assign('/')">Anasayfaya Dön</button>
    </center>
    <div class="fixed-bottom">
        Çetele by <code style="color:powderblue">Kentel</code>
    </div>
    <style type="text/css">
        
		body{
			background:#05a5eb;
			color:white;
			font-family: verdana;
			
			font-size: 30px;

		}
		h2{
			margin: 2px;
            font-weight:900;
            font-family: verdana;
		}
		@media screen and (max-width: 500px) {
			body {
				font-size: 50px;
			}
			
		}
        h1{
            
            font-size: 40px;font-family: sans-serif;
            
            
        }
	</style>
</body>
</html>