<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkında</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="icon" href="https://cetele.pythonanywhere.com/static/fav.png">
</head>
<body>
    <div class="container">
        <button style="background:none;border:0px;color:white;position: absolute;left:1%;top:1%"  onclick="window.history.back()"><i class="fa fa-arrow-circle-left"></i></button><br>
        <a style="text-decoration: none;" href=""><code id="logomain">Kentel</code></a>
        <br>
        <div class="developers" style="color:white">
            <h4 style="margin:10px"><code style="color:aquamarine">Kentel</code> Yazılımcıları</h4>
            <ul>
                <li>Efe Akaröz</li>
            </ul>
        </div>
        <br>
        <br>
        <div class="otherProj" style="color:white">
            <h4 style="margin:10px"><code style="color:aquamarine">Kentel</code>'in  projeleri</h4>
            <ul>
                <li ><a href="https://efeakaroz.pythonanywhere.com/" style="color:aquamarine">Arama Motoru</a></li>
                <li ><a href="https://kentelautomation.pythonanywhere.com/main" style="color:aquamarine">The Platform</a></li>
                <li ><a href="https://kentel.pythonanywhere.com/" style="color:aquamarine">Kentel Chat</a></li>
            </ul>

        </div><br><br>
        <div class="AllOther" style="color:white">
            <h4 style="margin:10px"><code style="color:aquamarine">Kentel</code>'in  yazılım alanları</h4>
            <ul>
                <li>Web Dev.</li>
                <li>iOS (Swift)</li>
                <li>Android(xml,Java)</li>
                <li>Material Design</li>
            </ul>
        </div>

        <br>
        <br>
        <br>
        <div class="contact" style="color:white">
            <h5>İletişim</h5>
            <p> Email : fakedirsup@gmail.com</p>

        </div>
        <br>
        <br>
        <div class="social" style="color:white">
            <p>Sosyal medya</p>
            <ul>
                <li><a href="https://www.linkedin.com/in/efe-akar%C3%B6z-a712201b4/" style="color:aquamarine">Linked<i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://stackoverflow.com/users/14644131/efeakaroz" style="color:aquamarine">StackOverflow <i class="fa fa-stack-overflow"></i></li>
                <li><a href="https://www.fiverr.com/efeakaroz40" style="color:aquamarine">Fiverr <i class="fa fa-dollar"></i></li>

                <li><a href="https://github.com/efeakaroz/" style="color:aquamarine">Github <i class="fa fa-github"></i></li>   
                
            </ul>
        </div>
        
    </div>
    

    <style>
        body{
            background:#004059;
            
        }
        #logomain{
            font-size: 33px;
            color:#82dcff;
        }
    </style>
</body>
</html>