<!DOCTYPE html>
<html>
<head>
	<title>Çetele</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh"
   content="0; url=/main">
</head>
<body>
	<h1>ÇE</h1>
	<h1>TE</h1>
	<h1>LE</h1>
	<style type="text/css">
		body{
			background:#05a5eb;
			color:white;
			font-family: verdana;
			text-align: center;
			font-size: 50px;

		}
		h1{
			margin-top: 70px;
		}
		@media screen and (max-width: 500px) {
			body {
				font-size: 50px;
			}
			h1{
				margin-top:50px;
			}
		}
	</style>
</body>
</html>