<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canlı Ders Ekleme - Çetele</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.png') }}">
</head>

<body>

  <button onclick="window.history.back()" style="background:none;border:0px;color:white">Geri Dön <i
      class="fas fa-long-arrow-alt-left" style="margin-left: 10px;"></i></button>
  <div class="container">
    <h3>Çetele - Canlı Ders <i class="fas fa-video"></i></h3>



    <div class="card">
      <div class="card-horizontal" style="color:black;display: flex;">
        <div class="img-square-wrapper">
          <i style="color:#0390fc;margin-left: 20px;" class="fas fa-video fa-8x"></i>
        </div>
        <div class="card-body" style="">
          <h4 class="card-title">Canlı Ders Ekle <i class="fas fa-plus" style="margin-left: 5px;"></i></h4>
          <p class="card-text">Kullanıcı Adın ve Zoom sabit adresin olarak öğrencilerine görünecektir. <br>
            <form class="form" action="" method="POST">
              <input type="text" name="zoomLink" placeholder="Zoom Adresi (url)..." class="form-control" required><br>
              {% if sent==False %}
                <div class="alert alert-danger">
                  Zoom Adresi Bulunamadı Veya Güvenli Değil !!
                </div>
                <br>
              {% endif %}
              <input class="form-control" name="note" placeholder="Notunuz(işleyeceğiniz konu veya ders adı)..." required>
              <br><input type="submit" class="btn btn-success" value="Ekle +">
            </form>
          </p>
        </div>

      </div>

      <div class="card-footer">
        <small class="text-muted">made by Kentel in Kırşehir</small>
      </div>
    </div>
    <br>
    <br>
    {% if sent==True %}
      <div class="alert alert-success">
        Ders Oluşturuldu
      </div>
    {% endif %}




  </div>

  <style>
    body {
      background: #0390fc;
      color: white;
    }

    #btn-it:focus {
      outline: none;
    }

    #btn-it {
      outline: none
    }
  </style>
</body>

</html>
